.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
}
a {
	color: #0088cc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#page {
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 1100px;
}
#tank-grid {
	float: left;
	padding: 1px;
	border: 1px solid #000;
}
#tank-grid .row {
}
#tank-grid .row .col {
	float: left;
	margin: 0 1px 1px 0;
	width: 10px;
	height: 10px;
	background: #fff;
}
#tank-grid .row .col:last-child {
	margin-right: 0;
}
#tank-grid .row:last-child .col {
	margin-bottom: 0;
}
#tank-grid .row .col.on {
	background: #000;
}
#tank-grid .row .col.on.tank.my {
	background: #f00;
}
#tank-grid .row .col.on.bull.my {
	background: #f00;
}
#control-panel {
	float: right;
	padding: 20px 10px 0 10px;
	width: 300px;
	height: 500px;
	border: 1px solid #000;
}
h2 {
	margin: 0 0 30px 0;
	text-align: center;
	font-size: 30px;
}
#control-panel .row {
	margin-bottom: 10px;
}
#control-panel .score {
	margin-bottom: 20px;
}
#control-panel .score span {
	display: block;
	float: left;
	margin-right: 10px;
}
#control-panel .score strong {
	display: block;
	float: left;
	font-size: 50px;
	color: #f00;
}
#control-panel .buttons .btn {
	display: block;
	float: left;
	padding: 0;
	width: 65px;
	text-align: center;
	background: #000;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
#control-panel .buttons .btn.disabled {
	background: #333;
	cursor: default;
}
#pause-game {
	margin-left: 10px;
	margin-right: 10px;
}





























